### Mutable datatypes

#### list
- It is changable i.e., we can add, remove items in a list
- As list are indexed, list allow duplicates

In [15]:
l1=['a','b','c','a','z']
l1

['a', 'b', 'c', 'a', 'z']

In [1]:
lst=[1,2,3,4,5]
lst[3]='A'

In [2]:
lst

[1, 2, 3, 'A', 5]

In [3]:
#concatenation
['1','b',2.5]+['d']

['1', 'b', 2.5, 'd']

In [4]:
#repetition
['a','b',3.5]*2

['a', 'b', 3.5, 'a', 'b', 3.5]

In [5]:
#slicing
a=['a','b','x','y']
a[1:4],a[0] #a[0]__indexing

(['b', 'x', 'y'], 'a')

In [6]:
#appendvalue
list=[1,'a',2.5]
list.append('e')
list

[1, 'a', 2.5, 'e']

In [10]:
list.insert(2,'g')
list

[1, 'a', 'g', 'b', 'b', 2.5, 'e']

In [18]:
list.insert(3,'g')
list

[1, 'a', 'g', 'g', 'g', 'b']

In [19]:
list.pop()

'b'

In [20]:
list.pop()

'g'

In [24]:
my_lst=['green','red','blue','yellow','pink']
my_lst.append('grey')
print(my_lst)

['green', 'red', 'blue', 'yellow', 'pink', 'grey']

In [8]:
print(len([2,8,99.9]))  
print([88,90,67]+[56,68,96])
print(['Hi folks!!!']*3)
print(8 in [88,96,8])

3
[88, 90, 67, 56, 68, 96]
['Hi folks!!!', 'Hi folks!!!', 'Hi folks!!!']
True

In [10]:
x=[2,4,6,8]
for x in [2,4,6,8]:
    print(x)

2
4
6
8

In [96]:
list=[0,2,4,6,8,10]
list.sort()
print("Sorted_List:\n ",list)

Sorted_List:
  [0, 2, 4, 6, 8, 10]

In [95]:
list.sort(reverse=True)  
print("List in Descending Order:\n ",list)

List in Descending Order:
  [10, 8, 6, 4, 2, 0]

In [1]:
#customize sort function
#based on close no. to 50
def myfunc(n):
    return abs(n-50)
list=[200,300,400,500,503]
list.sort(key=myfunc)
print(list)

[200, 300, 400, 500, 503]

In [101]:
#case insensitive sort
list.sort()
print(list)

[200, 300, 400, 500, 503]

In [12]:
######if u want case-sensitive as key function when a list sorting
list1=['apple','orange','banana']
list1.sort(key=str.lower)
print('the lower str: \n',list1)
list1.reverse()
print('in revrse order:\n ',list1)

the lower str:
 ['apple', 'banana', 'orange']
in revrse order:
  ['orange', 'banana', 'apple']

#### dictionary

In [1]:
#keys of different data type?

In [47]:
this_dict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(type(this_dict))
this_dict

<class 'dict'>

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [57]:
x = this_dict.get("brand")
y=this_dict.keys()
print(x)
y

Ford

dict_keys(['brand', 'electric', 'year', 'colors'])

- items() method will return each item in a dictionary, as tuples in a list.

In [60]:
this_dict.update({"year":2021})
this_dict

{'brand': 'Ford', 'electric': False, 'year': 2021, 'colors': 'black'}

In [76]:
for x in this_dict:
    print(x)
#-------accesing values of y-----
print(this_dict[y])

brand
electric
year
colors
black

In [84]:
for x in this_dict.values():
    print(x)
print(this_dict.keys())

Ford
False
2021
black
dict_keys(['brand', 'electric', 'year', 'colors'])

In [83]:
for x,y in this_dict.items():
    print(x,y)

brand Ford
electric False
year 2021
colors black

In [12]:
d={1:'jello',2:'bill',3:'tom',4:'jerry'}
d   #1 is key # jello is value

{1: 'jello', 2: 'bill', 3: 'tom', 4: 'jerry'}

In [32]:
my_dict={'Name': 'Gautam', 'Age': '20','Roll_No': '01','Branch': 'CSE','Degree': 'Btech','College': 'CVREC'}

In [33]:
print("my_dict['Name']: , my_dict['Branch']: , my_dict['Roll_No']: ",my_dict['Name'],my_dict['Branch'],my_dict['Roll_No']) 
#accesing value

my_dict['Name']: , my_dict['Branch']: , my_dict['Roll_No']:  Gautam CSE 01

In [36]:
 #updating value
my_dict['class']='First'
my_dict['Age']='21'
my_dict

{'Name': 'Gautam',
 'Age': '21',
 'Roll_No': '01',
 'Branch': 'CSE',
 'Degree': 'Btech',
 'College': 'CVREC',
 'class': 'First'}

In [1]:
{1:[1,2,3,4],'Place':'Bhubaneswar'}   #dict with mixed keys

{1: [1, 2, 3, 4], 'Place': 'Bhubaneswar'}

- Dictionary can also be created by the built-in function dict(). An empty dictionary can be created by just placing to curly braces{}.

In [18]:
Dict={}
print("Empty dictioanry")
print(Dict)

Empty dictioanry
{}

In [19]:
#creat a dict with dict()
Dict=dict({1:'joshua', 2:'has', 3:'Amnesia'})
print("\ndictionary with use of dict(): ")
print(Dict)

TypeError: 'dict' object is not callable

In [15]:
#create a dict with each iteam as a pair
Dict=dict([(1,'Joshua'),(2,'has')])
print("\ndictionary with each iteam as a pair:")
print(Dict)

TypeError: 'dict' object is not callable

- This error you get tells you that your dict is not callable.
- Since my $dict$ is callable when I open a fresh interpreter, it means that your dict is different.
- Most likely, you defined a dict variable, which overrode the built-in dict.
-http://localhost:8888/notebooks/dictionary%20updated.ipynb   refer this link to see the those above program and other dictionary program

#### Sets

In [25]:
#create an emptyset
s=set()
s

set()

In [5]:
#string
s=set("welcm home!!!")
print('\n Set with string: ', s)
#constructor
str='wlcm home!!!'
s=set(str)
print('\n set with obj.: ',s)
#list
s=set(["welcm","home!!!"])
print('\n set with list: ',s)

 Set with string:  {'l', 'm', 'o', 'e', 'h', 'w', '!', ' ', 'c'}

 set with obj.:  {'l', 'm', 'o', 'e', 'h', 'w', '!', ' ', 'c'}

 set with list:  {'home!!!', 'welcm'}

In [8]:
for x in s:
    print(x)

home!!!
welcm

In [9]:
name={"emily","drink","tea"}
for i in name:
    print(i)

drink
tea
emily

In [12]:
print("emily" in name)
print("roop" in name)

True
False

In [2]:
s1=(("jack","and","jill","went","upto","the","hill"))
print(s1)             #here set() constructor is used to make a set

('jack', 'and', 'jill', 'went', 'upto', 'the', 'hill')

- set cannot be changed once it's created.

In [17]:
name.add("wahh!!")
print(name)

{'cp', 'emily', 'agra', 'tajmahal', 'drink', 'delhi', 'tea', 'wahh!!'}

In [20]:
name={"emily","drink","tea","wahh!!"}
place=["agra","tajmahal","delhi","cp"]
name.update(place)
print(name)

{'cp', 'emily', 'agra', 'tajmahal', 'drink', 'delhi', 'tea', 'wahh!!'}

In [27]:
print("Before removing:\n ",name)
name.discard("wahh!!")       #name.remove()
print("After removing:\n ",name)

Before removing:
  {'cp', 'emily', 'agra', 'tajmahal', 'drink', 'delhi', 'tea'}
After removing:
  {'cp', 'emily', 'agra', 'tajmahal', 'drink', 'delhi', 'tea'}

- if item remove doesnot exist, discard() will not raise an issue

In [30]:
a={"apple", "banana", "cherry","Mango","Strawberry"}
x=a.pop()
print(x)
print("after poping: ",a)

Strawberry
after poping:  {'apple', 'cherry', 'Mango', 'banana'}

In [33]:
a.clear()
print("Now: \n",a)

Now:
 set()

In [34]:
del a
print(a)

NameError: name 'a' is not defined

- union() method returns a new set containing all items from both sets,
- update() method that inserts all the items from one set into another
- union() is used to join both sets
- union() & update() will exclude any duplicate items

In [36]:
set_1={'a','bc','zr'}
set_2={'a','b','xq','yho'}
set_3=set_1.union(set_2)
set_3

{'a', 'b', 'bc', 'xq', 'yho', 'zr'}

In [37]:
set_1.update(set_2)
print(set_1)

{'xq', 'bc', 'yho', 'zr', 'a', 'b'}

In [39]:
set_2.intersection_update(set_1)
set_2

{'a', 'b', 'xq', 'yho'}

- intersection() will return new sets, that only contains the items that are present in both sets.

In [40]:
set_2.symmetric_difference_update(set_1)
set_2

{'bc', 'zr'}

- symmetric_difference_update() 'll only keep elements that are not present in both elements

- symmetric_difference() 'ill return a new set which contains only the elements that are NOT present in both sets.

In [41]:
set_1.symmetric_difference(set_2)
set_1

{'a', 'b', 'bc', 'xq', 'yho', 'zr'}

In [16]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!