## Control Flow

### 1. $Comaprision$ $Operator$

In [6]:
print(10 > 0.3)
print(1 >= 3)
print(10 < 20)
print(100 <= 20)
print(10 == 10.0)
print(10=='10')  #comaprision between string and integer
print(10!='10')

True
False
True
False
True
False
True

In [12]:
print('bag' > 'apple')
print('bag' == 'BAG')

True
False

In [14]:
ord('b'),ord('B') 
#converts a character into its Ascii value.
#This method accepts a single character.

(98, 66)

### 2. $Conditional$ $Statement$

In [17]:
tempt = int(input('Value of temp: '))
if tempt > 30:
    print("it's very hot day")
    print("it's warm")
    print("drink water")
print("done")
print("it's ohk")

Value of temp: 34
it's very hot day
it's warm
drink water
done
it's ohk

In [23]:
tempt = int(input('Value of temp: '))
if(tempt > 30):
    print("it's warm")
    print("drink water")
elif(tempt > 20):
    print("it's a nice day")
elif(tempt == -5):
    print("it's very cold day")
print("done")

Value of temp: -5
it's very cold day
done

In [25]:
temperature = float(input("Enter tempt.: "))
if temperature > 30:
    print("it is warm")
    print("drink water")
elif temperature > 20:
    print("it is nice day")
else:
    print("its ohk")
print("done")

Enter tempt.: 35
it is warm
drink water
done

### 3. $Ternary$ $Operator$

In [2]:
tempt = int(input("Enter tempt.:"))
if tempt > 20:
    print('its a nyc day')
else:
    print("its a cold day")

Enter tempt.:34
its a nyc day

In [3]:
tempt = float(input("Enter tempt.:"))
message = "it is a nice day" if tempt >= 20 else "its a cold day"
print(message)

Enter tempt.:15.5
its a cold day

In [4]:
Age=int(input("Enter tempt.:"))
msg="YES You are Eligible for vote" if Age>=18 else "NO U r Not Eligible for voting"
print(msg)

Enter tempt.:18
YES You are Eligible for vote

In [5]:
age = int(input("Enter Age"))
if age >= 18:
    print("person is  eligible for voting")
else:
    print("Person is not eligible for voting")

Enter Age17
Person is not eligible for voting

### 4. $Logical$ $Operators$

In [6]:
high_income = True
good_credit = True
if high_income and good_credit:
    print("eligible for loan")
else:
    print("not eligible for loan")

eligible for loan

In [7]:
high_income = False
good_credit = False
if high_income and good_credit:
    print("eligible for loan")
else:
    print("not eligible for loan")

not eligible for loan

In [10]:
high_income = True
good_credit = False  #True
student = True
if not good_credit:
    print("eligible for loan")
elif student:
    print("not eligible for loan")
elif high_income:
    print('its ohk')
    
print("its is not ohk")

eligible for loan
its is not ohk

In [11]:
high_income = True
good_credit = False
student = True
if (high_income or good_credit) and not student:
    print("eligible for loan")
else:
    print("not eligible for loan")

not eligible for loan

### 5. $Short-Circuit$ $Evaluation$

In [17]:
high_income = True     #try high_income=False and student with False
good_credit = False
student = True
if high_income or good_credit or not student:    # try without not
    print("eligible for loan")

eligible for loan

In [19]:
high_income = True
good_credit = False  #try good_credit=True
student = True
if high_income and good_credit and  student:
    print("eligible for loan")

### 6. $Chaining$ $Comparision$ $Operator$

In [28]:
age = int(input("Enter age: "))
if 18 <= age < 65:    #chaining comparison 
    print("eligible for vote")

Enter age: 22
eligible for vote

In [23]:
age = int(input("Enter age: "))
if age >= 18 and age < 65:
    print("eligible")

Enter age: 15

In [31]:
if 10=='10':
    print('a')
elif'bag'>'apple'and 'bag'>'cat':
    print('b')
else:
    print('c')

c

### 7. $Loops$
- for loop
- for else loop
- nested loop
- while loop

In [47]:
for number in range(3):
    print('attempt', number)
type(number)

attempt 0
attempt 1
attempt 2

int

In [30]:
for number in range(9):
    print('attempt', number+1)
type(number)

attempt 1
attempt 2
attempt 3
attempt 4
attempt 5
attempt 6
attempt 7
attempt 8
attempt 9

int

In [32]:
for number in range(3):
    print('attempt', number + 1,(number + 1) * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [49]:
for number in range(1, 4):
    print('attempt',number ,number * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [51]:
for number in range(1, 10 ,2):
    print('attempt',number ,number * '.')

attempt 1 .
attempt 3 ...
attempt 5 .....
attempt 7 .......
attempt 9 .........

In [53]:
successful = True    # Try False
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break

attempt
Successful

In [38]:
successful = False
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break
else:
    print('attempted 3 times and failed')

attempt
attempt
attempt
attempted 3 times and failed

In [54]:
successful = True
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break
else:
    print('attempted 3 times and failed')

attempt
Successful

In [40]:
for x in range(5):
    for y in range(3):
        print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

### 8. $Iterables$

In [41]:
for x in 'python':
    print(x)

p
y
t
h
o
n

In [42]:
for x in [1,2,3,4,5,6,7]:
    print(x)

1
2
3
4
5
6
7

In [43]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

### 9. $While$ $Loop$

In [44]:
number = 100
while number > 0:
    print(number)
    number //= 2

100
50
25
12
6
3
1

In [45]:
i = 0 
while i < 7:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7

In [46]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Programs

In [6]:
x=int(input("Enter Value Of x: "))
if x < 0: 
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and non-negative")

Enter Value Of x: 4
x is even and non-negative

In [7]:
count = 0
while x > 0:
    x = x // 2            
    count += 1
print("The approximate log2 is", count)

The approximate log2 is 3

In [5]:
for letter in "SCOOBY-DOO":
    print("Letter in",letter,"!!!!")

Letter in S !!!!
Letter in C !!!!
Letter in O !!!!
Letter in O !!!!
Letter in B !!!!
Letter in Y !!!!
Letter in - !!!!
Letter in D !!!!
Letter in O !!!!
Letter in O !!!!

In [13]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print("a>b") if a > b else print("b>a")

Enter a: 1998
Enter b: 1999
b>a

In [15]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print("HELLO ") if a > b else print(a,"=",b) if a == b else print("OLLEH")

Enter a: 222
Enter b: 222
222 = 222

In [28]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))
if a>b and a<c:
    print("Satisfied")

Enter a: 10
Enter b: 6
Enter c: 111
Satisfied

In [30]:
#follow above cell i/p
if a>=b or b<=c:
    print("Applicable")
else:
    print("Not Applicable")

Applicable

In [2]:
a,b=10,15
if a>b:
    print("A")
else:
    print("B")

B

In [4]:
print("A" if a>b else "B")

B

In [7]:
from random import random
a,b=input("Value of a: "),input("Value of b: ")
a,b=random(),random()
res="A" if a>=b else "B"
res

Value of a: 22.8
Value of b: 99.0

'A'

In [8]:
a,b

(0.7320785840205355, 0.5706029618817895)

In [10]:
(b,a)

(0.5706029618817895, 0.7320785840205355)

In [9]:
(b,a)[b>a]

0.5706029618817895

In [13]:
(f"a:{a}",f"b:{b}")[a>b]

'b:0.5706029618817895'

In [15]:
condition=True
4 if condition else 2*1

4

#### Note: Tuples in ternary operator can be used to check the given condition is $True$ / $False$

In [22]:
#using dict
a,b=input("Value of a: "),input("Value of b: ")
a,b=random(),random()
{False:f"a:{a}",True:f"b:{b}"}[a>b]

Value of a: 3
Value of b: 9

'b:0.009936599336181406'

In [23]:
{True:f"a:{a}",False:f"b:{b}"}[a>b]

'a:0.30683343949249453'

In [24]:
#using lambda
(lambda :f"b:{b}",lambda :f"a:{a}")[a>b]()

'a:0.30683343949249453'