In [15]:
def write_sales_log(order):
    
    file=open('sales.txt','w')
    
    for item,price in order.items():
        file.write(item+' '+ format(price,'.2f')+'\n')
    file.close()
    
def main():
    
    order={'Cheeky Spam':1.0, 'Yonks Spam':4.0}
    print(order)
    write_sales_log(order)
main()

{'Cheeky Spam': 1.0, 'Yonks Spam': 4.0}

# Files

In [33]:
file=open('sales.txt','w')

In [34]:
file.write('Hello This is My Bill_file.\n')

28

In [35]:
file.write('-----------------------------------\n')

36

In [36]:
file.write("'anita':99,'rakul':90,'anny':22")

31

In [37]:
file.write("'Fruits':'Strawberry,500,5pac'")

30

In [38]:
file.close()

In [39]:
file=open('sales.txt','r')
contents=file.read()
file.close()
print(contents)

Hello This is My Bill_file.
-----------------------------------
'anita':99,'rakul':90,'anny':22'Fruits':'Strawberry,500,5pac'

In [28]:
#Assignment

In [26]:
def write_sales_log(order):
    file=open('sales.txt','w')
    total,n=0,int(input('Enter no of things:'))
    for i in range(n):
        item=input('Enter the element %d:'%(i+1))
        if item=='Banana':
            q=float(input('Enter the amount in dozen:'))
        else:
            q=float(input('Eter the amount in kg:'))
        if item in order:
            file.write(item+'='+format(order[item][0],'.2f')+'\n')
            total+=(order[item][0]*q)
    file.write('total='+format(total,'.2f')+'\n')
    file.close()
def main():
    order={'Apple':[100,1],'Banana':[45,1],'Cherry':[50,1]}
    write_sales_log(order)
main()

Enter no of things:3
Enter the element 1:Apple
Eter the amount in kg:100
Enter the element 2:Banana
Enter the amount in dozen:45
Enter the element 3:Cherry
Eter the amount in kg:50

In [27]:
file=open('sales.txt','r')
contents=file.read()
file.close()
print(contents)

Apple=100.00
Banana=45.00
Cherry=50.00
total=14525.00