In [7]:
str='merrygoround'
i=0
while i<len(str):
    if str[i]=='e'or str[i]=='d':
        i+=1
        continue
    print('letter: ',str[i])
    i+=1

letter:  m
letter:  r
letter:  r
letter:  y
letter:  g
letter:  o
letter:  r
letter:  o
letter:  u
letter:  n

In [6]:
str='merrygoround'     #print merry
i=0
while i<len(str):
    if str[i]=='g':
        i+=1
        break
    print('letter: ',str[i])
    i+=1

letter:  m
letter:  e
letter:  r
letter:  r
letter:  y

In [8]:
str='merrygoround'     #print merry
i=0
while i<len(str): 
    i+=1
    pass
print('Value is : ',i)

Value is :  12

In [5]:
#reverse no.
rem=0
rev=0
n=int(input("enter a no.: "))
while(n>0):
    rem=n%10
    rev=(rev*10)+rem
    n=n/10
    #print("Reverse no.: ",rev)
print("Reverse no.: ",rev)

enter a no.: 678
Reverse no.:  inf

# Function

-  It is a block of statement performing a specific tasks.

In [32]:
def disc():
    print("python functions")
disc()

python functions

In [29]:
#add 2 no.s
def Add():
    a=int(input("Enter:"))
    b=int(input("Enter:"))
    sum=a+b
    print("Add of these no.s: ",sum)
Add()

Enter:40
Enter:90
Add of these no.s:  130

In [57]:
def Add(x,y):
    return x+y


x=int(input("Enter value of x:"))
y=int(input("Enter value of y:"))


print("sum: ",sum(x,y))

Enter value of x:678
Enter value of y:89
Sum is:  767
sum:  None

In [26]:
def sum(x,y):
    s=x+y
    print("Sum: ",s)
sum(10,20)

Sum:  30

In [20]:
def sum(x,y):         
    return(x+y)       
r=sum(10,20)         
print("sum: ",r)

sum:  30

In [18]:
#larger
def large(x,y):
    if(x>y):
        return x
    else:
        return y
d=large(50,500)
print("Larger is : ",d)

Larger is :  500

In [34]:
def Larger(m,n):
    m=20
    n=68
    if(m>n):
        print("Larger : ",m)
    else:
        print("Larger : ",n)
Larger(20,68)

Larger :  68

In [24]:
#evenodd
def evenodd():
    i=int(input("enter : "))
    if(i%2==0):
        print("EVEN")
    else:
        print("ODD")
evenodd()

enter : 785
ODD

In [26]:
n=int(input("Enter: "))
def check(n):
    if(n%2==0):
        print("TRUE")
    else:
        print("FALSE")

check(n)

Enter: 5
FALSE

In [31]:
def Savg(x,y):
    sum=0
    for i in range(x,y):
        sum=sum+i
        avg=sum/y
        return(avg)
    m=Savg(1,10)
Savg(1,10)

0.1

In [35]:
def sub(a,b):
    print(a,b)
    
sub(40,30)

40 30

In [37]:
def id(name,roll):
    print("Hey!!!",name,roll)
    
id(name="Gautam",roll="01")
id(name="aishi",roll="02")
id(roll="02",name="chiklu")

Hey!!! Gautam 01
Hey!!! aishi 02
Hey!!! chiklu 02

In [53]:
def fun(city):    
    print("welcome","to",city)   
     
fun("Delhi")

welcome to Delhi

In [39]:
def dis(name="Hi"):
    print("Welcome","to","Python")

dis("Hello")
dis()

Welcome to Python
Welcome to Python

In [46]:
def sum(l1,l2):
    print("Sum is: ",l1+l2)
sum(10,20)

Sum is:  30

In [51]:
t1=(10,20,77,90,87)
print(t1)
count=0
for i in t1:
    print("t1:",(count,i))
    count=count+1

(10, 20, 77, 90, 87)
t1: (0, 10)
t1: (1, 20)
t1: (2, 77)
t1: (3, 90)
t1: (4, 87)

In [54]:
#fibonacci series
def fibo(n):
    a=0
    b=1
    for x in range(n):
        a=b
        b=a+b
        print(a,'\n')
    return b
num=int(input("Enter value of n: "))
print(fibo(num))

Enter value of n: 50
1

2

4

8

16

32

64

128

256

512

1024

2048

4096

8192

16384

32768

65536

131072

262144

524288

1048576

2097152

4194304

8388608

16777216

33554432

67108864

134217728

268435456

536870912

1073741824

2147483648

4294967296

8589934592

17179869184

34359738368

68719476736

137438953472

274877906944

549755813888

1099511627776

2199023255552

4398046511104

8796093022208

17592186044416

35184372088832

70368744177664

140737488355328

281474976710656

562949953421312

1125899906842624

In [59]:
def si(p,t,r):    
    return (p*t*r)/100    
p = float(input("Enter principal amount:"))
r = float(input("Enter rate of interest:"))    
t = float(input("Enter time in years:"))    
print("SI: ",si(p,r,t))

Enter principal amount:30000
Enter rate of interest:5
Enter time in years:5
SI:  7500.0

In [61]:
def p_a(i,r,t):
    return (100*i)/(r*t)
i=float(input("Enter intrest:"))
r=float(input("Enter rate:"))
t=float(input("Enter time:"))
print("Principal Amount: ",p_a(i,r,t))

Enter intrest:37500
Enter rate:5
Enter time:5
Principal Amount:  150000.0

In [67]:
def cartoon(*names):
    print("Hi!!!. I am","and he is")
    
    for name in names:
        print(name)
cartoon("Pickachu","Ninja Hattori")

Hi!!!. I am and he is
Pickachu
Ninja Hattori

In [69]:
def contact(name,msg):
    print("come to home",name,"and",msg)
    
contact(name="pratik",msg="do code and upload in github r8 now")

come to home pratik and do code and upload in github r8 now

In [73]:
def items(**name):
    print(name)
items(a="Strawberry")
items(fruits="Rapsberry",Cake="Blueberry cake")

{'a': 'Strawberry'}
{'fruits': 'Rapsberry', 'Cake': 'Blueberry cake'}

In [75]:
def calculate(*args):
    sum=0
    for arg in args:
        sum=sum+arg
    print("sum: ",sum)  
sum=0
calculate(94,77,9)
#print("value:",sum)

sum:  180