In [1]:
x,y=12,10
if(x<y):
    st="x is less than y"
elif(x==y):
    st="x is same as y" 
else:
    st="x is greater than y"
print(st)

x is greater than y

In [2]:
lst=[1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

In [3]:
while (i<10):
    print(i)
    i=i+1

5
6
7
8
9

In [4]:
i=18
if(i>12):
    print("18 is not less than 12")
print("I am Not in if")

18 is not less than 12
I am Not in if

In [5]:
i=149;
if(i<=150):
    print("i<150")
    print("i is in if-Block")
else:
    print("i>150")
    print("i is in else Block")
print("i is not in if and not in else Block")

i<150
i is in if-Block
i is not in if and not in else Block

In [6]:
i=151
if(i<=150):
    print("i<150")
    print("i is in if-Block")
elif(i==150):
    print("i is not in if block")
else:
    print("i>150")
    print("i is in else Block")
print("i is not in if and not in else Block")

i>150
i is in else Block
i is not in if and not in else Block

In [7]:
li=range(13,7)

In [8]:
for i in range(3,17,2):
    print(i)

3
5
7
9
11
13
15

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10):
    print(i)
    i=i+1
    print(i)

0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10

In [11]:
li=[1,2,3,4,5,6,7]
j=0
for i in li:   
    for i in li:
        i=i+1
        j=j+1
    print(j)
print(j)

7
14
21
28
35
42
49
49

In [12]:
print(j)

49

In [13]:
#while (i<=5):
  #  print(i)

In [14]:
length=len(li)
j=0
while length>=5:
    j=j+1
    length=length-1
    continue
    print(length)
    #length=length-1
    if length==6:
        break     #continue it won't change the o/p
print(j)

3

In [15]:
length=len(li)
j=0
while length>=5:
    j=j+1
    length=length-1
    break
    print(length)
    #length=length-1
    if length==6:
        continue      
print(j)

1

In [16]:
length=len(li)
#j=0
while length>=3:
    #j=j+1 
    print(length)
    if length<=5:
        #print(length)
        break
    j=j+1
    length=length-1
                 
print(j)

7
6
5
3

In [17]:
print(j)

3

In [18]:
#even odd
num=int(input("enter number: "))
if num%2==0:
    print("Number is even")
else:
    print("Number is odd")

enter number: 97
Number is odd

In [19]:
#largest 3 no.s
a=int(input("Enter a: "))
b=int(input("Enter b: "))
c=int(input("Enter c: "))
if a>b and a>c:
    print("a is largest")
if b>a and b>c:
    print("b is largest")
if c>a and c>b:  
    print("c is largest")

Enter a: 55
Enter b: 67
Enter c: 0
b is largest

In [20]:
#vote program
age=int(input("Enter age: "))
if(age>=18):
    print("You are eligible to vote.")
else:
    print("Not eligible.")

Enter age: 22
You are eligible to vote.

In [21]:
#marks
marks=int(input("Enter Marks: "))
if marks>=90:
    print('Grade O')
elif marks>=80 and marks<90:
    print('Grade E')
elif marks>=70 and marks<80:
    print('Grade A')
elif marks>=60 and marks<70:
    print('Grade B')
elif marks>=50 and marks<60:
    print('Grade C')
elif marks>=40 and marks<50:
    print('Grade D')
else:
    print('FAIL')

Enter Marks: 99
Grade O

In [22]:
marks = int(input("Enter the marks? "))  
if marks > 85 and marks <= 100:  
    print("Congrats ! you scored grade A ...")  
elif marks > 60 and marks <= 85:  
    print("You scored grade B + ...")  
elif marks > 40 and marks <= 60:  
    print("You scored grade B ...")  
elif (marks > 30 and marks <= 40):  
    print("You scored grade C ...")  
else:  
    print("Sorry you are fail ?")

Enter the marks? 100
Congrats ! you scored grade A ...

In [23]:
str='amarakbaranthony'
for x in str:
    print(x)

a
m
a
r
a
k
b
a
r
a
n
t
h
o
n
y

In [24]:
list=[90,77,888,54,789]
for j in list:
    c=j+1
    print(c)

91
78
889
55
790

In [25]:
list=[90,77,888,54,789]
for j in list:
    c=j*2
    print(c)
print(c)

180
154
1776
108
1578
1578

In [26]:
list = [10,30,23,43,65,12]  
sum = 0  
for i in list:  
    sum = sum+i  
print("The sum is:",sum)

The sum is: 183

In [27]:
for i in range(20):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [28]:
l=int(input("Enter the number ")) 
for i in range(2,11):
    c=l*i
    print(l,"*",i,"=",c)

Enter the number 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [29]:
l = int(input("Enter the number ")) 
for i in range(2,l,2):
    print(i)

Enter the number 20
2
4
6
8
10
12
14
16
18

In [30]:
list=['gudli','laxmi','baisali','kalyani','basanta']
for i in range(len(list)):
    print("Namaste",list[i])

Namaste gudli
Namaste laxmi
Namaste baisali
Namaste kalyani
Namaste basanta

In [31]:
rows=int(input("enter rows:"))
for i in range(0,rows+1):
    for j in range(i):
        print("*",end='')
    print()

enter rows:4

*
**
***
****

In [32]:
rows=int(input("Enter:"))
for i in range(0,rows+1):
    for j in range(i):
        print(i,end='')
    print()

Enter:6

1
22
333
4444
55555
666666

In [33]:
for i in range(4,11):
    print(i+1,i)
    break;
else:
    print("broke")
print('nrick')

5 4
nrick

In [34]:
i=0         
number = int(input("Enter the number:"))    
while i<=10:    
    print("%d X %d = %d \n"%(number,i,number*i))    
    i = i+1

Enter the number:10
10 X 0 = 0

10 X 1 = 10

10 X 2 = 20

10 X 3 = 30

10 X 4 = 40

10 X 5 = 50

10 X 6 = 60

10 X 7 = 70

10 X 8 = 80

10 X 9 = 90

10 X 10 = 100

In [35]:
k=1   
while(k<=5):    
    print(k)    
    k=k+1    
else:  
    print("The while loop exhausted")

1
2
3
4
5
The while loop exhausted

In [36]:
k=1    
while(k<=5):    
    print(k)    
    k=k+1    
    if(k==3):    
        break   
else:  
    print("The while loop exhausted")

1
2

In [37]:
terms = int(input("Enter the terms "))  
# first two intial terms  
a = 0  
b = 1  
count = 0  
  
# check if the number of terms is Zero or negative  
if (terms <= 0):  
    print("Please enter a valid integer")  
elif (terms == 1):  
    print("Fibonacci sequence upto",limit,":")  
    print(a)  
else:  
    print("Fibonacci sequence:")  
    while (count < terms) :  
        print(a, end = ' ')  
        c = a + b  
       # updateing values  
        a = b  
        b = c  
     
        count += 1

Enter the terms 10
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

In [38]:
#bs--->basic salary
#gs--->gross salary
bs=int(input("enter salary: "))
if(bs<1500):
    hra=bs*10/100
    da=bs*90/100
elif(bs>=1500):
    hra=bs*5/100
    da=bs*98/100
else:
    print("invalid data")
gs=bs+hra+da
print("Gross Salary: ",gs)

enter salary: 99000
Gross Salary:  200970.0

In [47]:
#chk no. is +ve or -ve
num=int(input("Enter a No.: "))
if(num>0):
    print("No. is +ve ")
elif(num==0):
    print("No. is ZERO ")
else:
    print("No. is -ve ")

Enter a No.: 0
No. is ZERO

In [50]:
num=int(input("enter no.: "))
if(num>=0):
    if(num==0):
        print("+ve with value 0")
    else:
        print("+ve with no 0 value")
else:
    print("-ve no.")

enter no.: 9
+ve with no 0 value

In [43]:
per=int(input("enter percentage: "))
if(per>=60):
    print("1st Division")
elif(per>=50):
    print("2nd Division")
elif(per>=40):
    print("3rd Division")
else:
    print("FAIL")

enter percentage: 60
1st Division

In [51]:
a=20.07
b=700
c=99.0  
if(a>=b)and(a>=c):
    print("Larger is a")
elif(b>=c)and(b>=a):
    print("Larger is b")
else:
    print("Larger is c")

Larger is b

In [55]:
n=0
while(n<=9):
    print(n)
    n=n+3

0
3
6
9