## DATA TYPES

- In Python we don't need to declare datatype of vriables.

#### Python datatypes:
-    IMMUTABLE 
        - Numbers          
        - Strings          
        - Tuples
-    MUTABLE
        - Lists
        - Dictionaries
        - Sets

#### IMMUTABLE
- $immutable$, means that changing the value of a number data type results in a new allocated obj.

##### Strings
    - are sequence of charcater string
    - are built-in-function
    - multi-line strings can be denoted by using triple quotes, """ or """.
   - example:
        - sample='wlcm by'
        - h= "hi fellows"

In [7]:
'hi it's me!!'

SyntaxError: invalid syntax (<ipython-input-7-e34fa6b1cb60>, line 1)

In [8]:
"hi it's me!!"

"hi it's me!!"

##### string operations:
- $slicing$
- $repetition$
- $concatenate$
- $indexing$

##### string methods:
- $startswith(str,beg=0,end=len(string))$
- $find(str, beg=0, end=len(string))$
- $index(str, beg=0, end=len(string))$
- $rindex(str, beg=0, end=len(string))$
- $join()$
- $len(string)$
- $capitalize()$
- $replace()$
- $split(str="",num=string.count(str))$
- $splitlines(num=string.count('\n')$
- $count(str,beg=0,end=len(string))$
- $upper()$
- $lower()$
- $max()$
- $min()$
- $title()$
- $isdecimal()$
- $isalpha()$
- $isalnum()$
- $isdigit()$
- $islower()$
- $isupper()$
- $isnumeric()$
- $isspace()$
- $istitle()$
- $lstrip()$
- $rstrip()$
- $center(width,fillchar)$
- $decode(encoding='UTF-8',errors='strict')$
- $encode(encoding='UTF-8',errors='strict')$
- $endswith(suffix, beg=0, end=len(string))$
- $expandtabs(tabsize=8)$
- $ljust(width[, fillchar])$
- $maketrans()$
- $swapcase()$
- $strip([chars])$
- $zfill(width)$
- $translate(table.deletechars="")$

In [31]:
a="sl66iceof6spam"
a[3:1]
a[1:3]

'l6'

In [28]:
a[-5:]

"'spam"

In [36]:
a[:-6]

'sl66iceo'

In [35]:
a[1:5]

'l66i'

In [29]:
a[3:-5]

'ceof'

In [33]:
len(a)

14

In [39]:
a[::-1]

'maps6foeci66ls'

In [41]:
a.upper()

'SL66ICEOF6SPAM'

In [44]:
max(a)

's'

In [45]:
min(a)

'6'

In [46]:
a.isalpha()

False

In [72]:
x="hello"
x=x + "_there " + " "   # '+'--concatenate

In [70]:
x*3    # '*' -- repetition

'hello_there \n hello_there \n hello_there \n '

In [68]:
len(x*3)

39

In [74]:
s='i am a string'
s= s+ "And me too!" + 'and me too!\n though i am much longer \n than the others'
s

'i am a stringAnd me too!and me too!\n though i am much longer \n than the others'

In [84]:
t="MURGIKAANDA"
t[1:3:4]

'U'

In [93]:
t.lower()

'murgikaanda'

In [97]:
t.split()

['MURGIKAANDA']

In [96]:
t.split('A')

['MURGIK', '', 'ND', '']

In [105]:
t[2:-3]

'RGIKAA'

In [87]:
aa='abcdefghijk'
aa[3:1]      # this is happend bcz it's in reverse

''

In [90]:
aa='abcdefghijk'
aa[3:1:-1]

'dc'

In [106]:
aa.upper()

'ABCDEFGHIJK'

In [115]:
aa.find('defghi')

3

In [120]:
w='e,a,s,t,e,r,n'
w.split(',')

['e', 'a', 's', 't', 'e', 'r', 'n']

In [131]:
w.count('e',0,6)

1

In [11]:
var='Hey Python_Users!!!'
var1='P4 Program'
print("var[0]: ", var[0])
print("var1[1:5]: ", var1[1:5])

var[0]:  H
var1[1:5]:  4 Pr

In [12]:
#updating string
var='Hey Python_Users!!!'
print("Updated String :- ", var[:6] + 'Users')

Updated String :-  Hey PyUsers

In [13]:
d="Hi, I m %s and my age is %d !!!. Practice is more important than only reading books and do nothing. I may be a newbiee but we can explore if we get a chance but to get that we need to develope our skills." % ('Baisali', 22)

In [14]:
print(d)

Hi, I m Baisali and my age is 22 !!!. Practice is more important than only reading books and do nothing. I may be a newbiee but we can explore if we get a chance but to get that we need to develope our skills.

In [18]:
passage="""Python's triple quotes comes to the rescue by allowing strings to span multiple lines,
TAB ( \t ) including verbatim NEWLINEs, TABs and any other special characters.
NEWLINEs within the string, whether explicitly given like this within the brackets [ \n ], or jst a newline within the variable assignment 'll also show up.'
"""
print(passage)

Python's triple quotes comes to the rescue by allowing strings to span multiple lines,
TAB ( 	 ) including verbatim NEWLINEs, TABs and any other special characters.
NEWLINEs within the string, whether explicitly given like this within the brackets [
 ], or jst a newline within the variable assignment 'll also show up.'

In [22]:
print('\\nowhere')
print(r'\\nowhere')

\nowhere
\\nowhere

In [24]:
print(u'ello, all!')

ello, all!

##### NUMBERS
- Number data types store numeric values.

In [28]:
var3={
    "name": "Elena",
    "age": 45,
    "blood": 'O+'
}
var3

{'name': 'Elena', 'age': 45, 'blood': 'O+'}

In [30]:
del var3["blood"]

In [31]:
var3

{'name': 'Elena', 'age': 45}

In [34]:
4+2,2**3     #integer

(6, 8)

In [36]:
2.0+5,6/3  #float

(7.0, 2.0)

In [40]:
(3+2j)+(4+5j),(2+9j)**2    #complex

((7+7j), (-77+36j))

#### TUPLES
- It's a collection of obj. which ordered and immutable.
- defined by using curve braces {}
- difference between tuples & lists :
                - tuples can't be changed unlike lists & tuples use parenthesis
                - lists use square brackets [].

In [71]:
country=('India','Russia',88,80)
country[1:3]

('Russia', 88)

In [67]:
#updating tuples
t22=(1.5,77)
print(t2)
t23=('a','by')
print(t3)

(1.5, 77)
(1.5, 77, 'a', 'by')

In [68]:
t3=t22+t23

In [69]:
t3

(1.5, 77, 'a', 'by')

In [72]:
#delete tuple elements
country=('India','Russia',88,80)
print (country)
del country
print("after deleting country:")
print(country)

('India', 'Russia', 88, 80)
after deleting country:

NameError: name 'country' is not defined

* Error shown bcz tuple doesnot exist any more.

In [83]:
# tuple operations
print(len((0,1,2,4,5,99)))  #length
print((('a','b','c')+('d','e','f'))) #concatenate
print(('helen!!!!!few')*3)   #repetition
print((3 in (46,3,'a'), 6 not in('a','bc',6)))   #membership


#iteration
for x in (1,2,3):
    print(x)

6
('a', 'b', 'c', 'd', 'e', 'f')
helen!!!!!fewhelen!!!!!fewhelen!!!!!few
(True, False)
1
2
3

In [90]:
l=('spam','Spam','SPAM!')

In [91]:
l[2],l[-2],l[1:]

('SPAM!', 'Spam', ('Spam', 'SPAM!'))

In [98]:
l2=('ham','Ham','HAM!',890)

In [113]:
print(len(l2),len(l))
print(max(l))
#max(l2),min(l2) str & int can't be compared 
print(min(l))

4 3
spam
SPAM!

In [114]:
#tup(seq)
lst = [44, 'x', 'z', 'ADC']
tup= tuple(lst)
print("Tuple elements : ", tup)

Tuple elements :  (44, 'x', 'z', 'ADC')